body {
    margin: 0;
    background: #333;
    color: #fff;
}

pre {
    background-color: transparent;
    border: 0;
    color: #fff;
}

#splash {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
}

#rabbit {
    position: absolute;
    top: 100px;
    left: 10%;
}

#text {
    position: absolute;
    text-align: justify;
    top: 100px;
    left: 40%;
    max-width: 50%;
    width: 50%;
    font-size: 20px;
}

.btn {
    font-size: 20px;
    font-weight: 400;
    margin-left: 5px;
}

.btn-white, .btn-white:hover {
    border: 1px solid #FFF;
    color: #FFF;
}

.form-control[readonly] {
    background-color: #BBB;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
    background: #333;
    padding: 5px;
    width: 100%;
    text-align: right;
}

footer a, footer a:visited {
    color: #777;
}
